@{
    ViewData["Title"] = "Administrator";
}

<section class="section dashboard">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="pagetitle">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">

            <div class="card">
                <div class="card-body pt-3">

                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button id="callsCount" class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview">Overview</button>
                        </li>

                        <li class="nav-item">
                            <button id="callsNM" class="nav-link" data-bs-toggle="tab" data-bs-target="#name-modify">Name Modification</button>
                        </li>

                        <li class="nav-item">
                            <button id="callsIU" class="nav-link" data-bs-toggle="tab" data-bs-target="#image-update">Image Update</button>
                        </li>

                        <li class="nav-item">
                            <button id="callsST" class="nav-link" data-bs-toggle="tab" data-bs-target="#students">Students</button>
                        </li>

                    </ul>

                    <div class="tab-content pt-2">

                        <partial name="partials/_overview" />

                        <partial name="partials/_name-modify" />

                        <partial name="partials/_image-update" />

                        <partial name="partials/_students" />

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<partial name="_Status"/>

@section Scripts {
<script>

    var currentStudent = null;
                
                async function getCounts(){
                    let res = await fetch("/admin/CountsApi");
                    let data = await res.json();

                    getEl("#issuedCardCount").innerText = data.issuedCardCount;
                    getEl("#NameModifyRequestsCount").innerText = data.nameModifyCount;
                    getEl("#ImageUpdateRequestsCount").innerText = data.imageUpdateCount;
                }

                async function getNameModifications()
                {
                    let res = await fetch("/admin/NameModificationsApi");
                    let data = await res.json();
                    getEl("#nameModifyContent").innerHTML = "";
                    if(data.length > 0){
                        for(let i=0; i<data.length; i++){
                            getEl("#nameModifyContent").innerHTML += `
                                <tr id="${data[i].student.id}" >
                                    <td>${data[i].idCard.studentNo}</td>
                                    <td>${data[i].student.lastName + " " + data[i].student.otherNames}</td>
                                    <td>${data[i].mStud.lastName + " " +  data[i].mStud.otherNames}</td>
                                    <td><button onclick="viewDetails(this)" class="btn btn-success">View</button><i class="d-none">${data[i].student.id}</i></td>
                                </tr>
                            `
                        }
                    }else{
                        getEl("#nameModifyContent").innerHTML = "<tr><td style='text-align:center' colspan='4'>No Name Modification Request Available</td></tr>"
                    }
                }

                async function getImageUpdates()
                {
                    let res = await fetch("/admin/ImageUpdatesApi");
                    let data = await res.json();
                    console.log(data);
                    getEl("#imageUpdatesContent").innerHTML = "";
                    if(data.length > 0){
                        for(let i=0; i<data.length; i++){
                            getEl("#imageUpdatesContent").innerHTML += `
                                <tr id="${data[i].studentId}" reqId="${data[i].requestId}">
                                    <th scope="row"><a href="#"><img src="image/approved/${data[i].currentImg}" alt=""></a></th>
                                    <th scope="row"><a href="#"><img src="image/updates/${data[i].newImg}" alt=""></a></th>
                                    <td>
                                        <button id="approveImage" class="btn btn-info">Accept</button>
                                        <button id="rejectImage" class="mx-3 btn btn-danger">Reject</button>
                                    </td>
                                </tr>
                            `
                        }
                    }else{
                        getEl("#imageUpdatesContent").innerHTML = "<tr><td style='text-align:center' colspan='4'>No Image Update Request Available</td></tr>"
                    }

                    if(getEl("#approveImage")){
                    getEl("#approveImage").addEventListener('click', (ev)=>{
                        imageUpdate("approveImageUpdate", ev)
                    })
                    }

                    if(getEl("#rejectImage")){
                        getEl("#rejectImage").addEventListener('click', (ev)=>{
                            imageUpdate("rejectImageUpdate", ev)
                        })
                    }
                }

                async function getStudents()
                {
                    let res = await fetch("/admin/StudentsApi");
                    let data = await res.json();
                    console.log(data);
                    getEl("#studentsContent").innerHTML = "";
                    if(data.length > 0){
                        for(let i=0; i<data.length; i++){
                            getEl("#studentsContent").innerHTML += `
                                <tr id="${data[i].id}">
                                    <td>${data[i].name}</td>
                                    <td>${data[i].indexNo}</td>
                                    <td>${data[i].studentNo}</td>
                                    <td><button onclick="getStudentDetails(this)" class="btn btn-success">View</button><i class="d-none">${data[i].id}</i></td>
                                </tr>
                            `
                        }
                    }else{
                        getEl("#studentsContent").innerHTML = "<tr><td style='text-align:center' colspan='4'>No Student Available</td></tr>"
                    }
                }

                async function getStudentDetails(el){
                   let value = el.nextSibling.textContent;
                   let res = await fetch('/admin/getStudentDetails?Id=' + value)
                   let data = await res.json();
                   data = data[0];

                   let activeBtn = getEl("#studentsModal #activateCard");
                   let inactiveBtn = getEl("#studentsModal #deactivateCard");

                   activeBtn.setAttribute('studentId', data.student.id)
                   inactiveBtn.setAttribute('studentId', data.student.id)

                   if(data.card.isActive){
                    activeBtn.setAttribute('disabled', true)
                    inactiveBtn.removeAttribute('disabled')
                   }else{
                    inactiveBtn.setAttribute('disabled', true)
                    activeBtn.removeAttribute('disabled')
                   }

                   getEl("#studDetailForm #lastName").value = data.student.lastName;
                   getEl("#studDetailForm #otherNames").value = data.student.otherNames;
                   getEl("#studDetailForm #studentNo").value = data.card.studentNo;
                   getEl("#studDetailForm #cardStatus").value = data.card.isActive ? "Active" : "InActive" ;
                   getEl("#studDetailForm #indexNo").value = data.card.indexNo;
                   getEl("#studDetailForm #email").value = data.student.email;
                   getEl("#studDetailForm #phone").value = data.student.phone;
                   getEl("#studDetailForm #faculty").value = data.student.faculty;
                   getEl("#studDetailForm #college").value = data.student.college;
                   getEl("#studDetailForm #hallOfAffiliation").value = data.student.hallOfAffiliation;
                   //getEl("#studDetailForm #program").value = data.program.programName;
                   getEl("#studentsModal #proofImg").src = "image/approved/" + data.student.imageUrl

                   getEl("#studentDetails").click()
                   console.log(data);
                }
                
                async function changeCardStatus(el){
                    
                    let body = {
                        studentId : el.getAttribute("studentId"), 
                        cardStatus: el.textContent == "Deactivate Card" ? false : true
                    }

                    let res = await fetch("/admin/changeCardStatus",{
                        method: "POST",
                        headers : {
                            "Content-Type": "application/json"
                        },
                        body : JSON.stringify(body)
                    })

                    let activeBtn = getEl("#studentsModal #activateCard");
                    let inactiveBtn = getEl("#studentsModal #deactivateCard");
                    activeBtn.removeAttribute("disabled")
                    inactiveBtn.removeAttribute('disabled')
                    let data = await res.json();
                    getEl("#requestMsg").innerText = data.msg
                    getEl("#requestStatus").click();
                }

                async function viewDetails(el){
                   let value = el.nextSibling.textContent;
                   let res = await fetch('/admin/getNameModificationDetail?Id=' + value)
                   let data = await res.json();

                   currentStudent = data;

                   getEl("#modDetailForm #lastName").value = data.student.lastName;
                   getEl("#modDetailForm #otherNames").value = data.student.otherNames;
                   getEl("#modDetailForm #studentNo").value = data.idCard.studentNo;
                   getEl("#modDetailForm #indexNo").value = data.idCard.indexNo;
                   getEl("#modDetailForm #email").value = data.student.email;
                   getEl("#modDetailForm #phone").value = data.student.phone;
                   getEl("#modDetailForm #faculty").value = data.student.faculty;
                   getEl("#modDetailForm #college").value = data.student.college;
                   getEl("#modDetailForm #hallOfAffiliation").value = data.student.hallOfAffiliation;
                   getEl("#modDetailForm #program").value = data.program.programName;
                   getEl("#nameModifyModal #proofImg").src = "image/proofOfNames/" + data.nModify.fileName;

                   getEl("#currentName").innerText = `${data.student.lastName} ${data.student.otherNames}`;
                   getEl("#newName").innerText = `${data.nModify.lastName} ${data.nModify.otherNames}`;

                   const btn = document.querySelector("#nameModifyDetail");
                   btn.click()
                }

                async function nameModification(url){
                    let obj = {
                            requestId: currentStudent.nModify.id,
                            studentId: currentStudent.student.id
                        }
                        console.log(obj)
                    const res = await fetch("/admin/" + url, {
                        method: 'POST',
                        headers: {
                           'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(obj)
                    })
                    const data = await res.json()

                    if(data.status){
                        let trEl = getEl("#" + currentStudent.student.id)
                        let parent = trEl.parentNode;
                        parent.removeChild(trEl);
                    }

                    let elCount = getEl("#NameModifyRequestsCount");
                    elCount.innerText = +elCount.innerText - 1;

                    getEl("#requestMsg").innerText = data.msg
                    getEl("#requestStatus").click();
                    currentStudent = null;
                }

                async function imageUpdate(url, ev){
                    let tr = ev.target.parentNode.parentNode
                    
                    let obj = {
                            requestId: tr.getAttribute("reqId"),
                            studentId: tr.getAttribute("id")
                        }
                        
                    const res = await fetch("/admin/" + url, {
                        method: 'POST',
                        headers: {
                           'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(obj)
                    })
                    const data = await res.json()
                    console.log('type', typeof(data.status))
                    if(data.status){
                        let parent = tr.parentNode;
                        parent.removeChild(tr);
                    }

                    let elCount = getEl("#ImageUpdateRequestsCount");
                    elCount.innerText = +elCount.innerText - 1;

                    getEl("#requestMsg").innerText = data.msg
                    getEl("#requestStatus").click();
                    currentStudent = null;
                }

                function getEl(el){
                    return document.querySelector(el)
                }

            window.onload = async() => {

                if(getEl("#acceptNameModify")){
                    getEl("#acceptNameModify").addEventListener('click', ()=>{
                        nameModification("approveNameModificationRequest")
                    })
                }
                
                if( getEl("#rejectNameModify")){
                    getEl("#rejectNameModify").addEventListener('click', ()=>{
                        nameModification("rejectNameModificationRequest")
                    })
                }

                if(getEl("#approveImage")){
                    getEl("#approveImage").addEventListener('click', (ev)=>{
                        imageUpdate("approveImageUpdate", ev)
                    })
                }

                if(getEl("#rejectImage")){
                    getEl("#rejectImage").addEventListener('click', (ev)=>{
                        imageUpdate("rejectImageUpdate", ev)
                    })
                }

                getEl("#callsCount").addEventListener('click', ev=>{
                    getCounts();
                })
                
                getEl("#callsNM").addEventListener('click', ev=>{
                    getNameModifications();
                })

                getEl("#callsIU").addEventListener('click', ev=>{
                    getImageUpdates();
                })

                getEl("#callsST").addEventListener('click', ev=>{
                    getStudents();
                })
            }
</script>
}