@{
    ViewData["Title"] = "Admin Page";
}

<section class="section dashboard">
    <div class="row">
        <div class="col-md-10 offset-md-1">

            <div class="card">
                <div class="card-body pt-3">

                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview">Overview</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#name-modify">Name Modification</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#image-update">Image Update</button>
                        </li>

                    </ul>

                    <div class="tab-content pt-2">

                        <partial name="partials/_overview" />

                        <partial name="partials/_name-modify" />

                        <partial name="partials/_image-update" />

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
<script>

    var currentStudent = null;

                async function viewDetails(el){
                   //let value = el.parentNode.getElementsByTagName('i')[0].textContent;
                   let value = el.nextSibling.textContent;
                   let res = await fetch('/admin/getNameModificationDetail?Id=' + value)
                   let data = await res.json();

                   currentStudent = data;

                   getEl("#detailForm #lastName").value = data.student.lastName;
                   getEl("#detailForm #otherNames").value = data.student.otherNames;
                   getEl("#detailForm #studentNo").value = data.idCard.studentNo;
                   getEl("#detailForm #indexNo").value = data.idCard.indexNo;
                   getEl("#detailForm #email").value = data.student.email;
                   getEl("#detailForm #phone").value = data.student.phone;
                   getEl("#detailForm #faculty").value = data.student.faculty;
                   getEl("#detailForm #college").value = data.student.college;
                   getEl("#detailForm #hallOfAffiliation").value = data.student.hallOfAffiliation;
                   getEl("#detailForm #program").value = data.program.programName;
                   getEl("#proofImg").src = "image/proofOfNames/" + data.nModify.fileName;

                   getEl("#currentName").innerText = `${data.student.lastName} ${data.student.otherNames}`;
                   getEl("#newName").innerText = `${data.nModify.lastName} ${data.nModify.otherNames}`;

                   const btn = document.querySelector("#nameModifyDetail");
                   btn.click()
                   console.log('returned ', data)
                }

                async function nameModification(url){
                    let obj = {
                            requestId: currentStudent.nModify.id,
                            studentId: currentStudent.student.id
                        }
                        console.log(obj)
                    const res = await fetch("/admin/" + url, {
                        method: 'POST',
                        headers: {
                           'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(obj)
                    })
                    const data = await res.json()

                    if(data.status){
                        let trEl = getEl("#" + currentStudent.student.id)
                        let parent = trEl.parentNode;
                        parent.removeChild(trEl);
                    }

                    getEl("#requestMsg").innerText = data.msg
                    getEl("#requestStatus").click();
                    currentStudent = null;
                }

                async function imageUpdate(url, ev){
                    let tr = ev.target.parentNode.parentNode
                    
                    let obj = {
                            requestId: tr.getAttribute("reqId"),
                            studentId: tr.getAttribute("id")
                        }
                        
                    const res = await fetch("/admin/" + url, {
                        method: 'POST',
                        headers: {
                           'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(obj)
                    })
                    const data = await res.json()
                    console.log('type', typeof(data.status))
                    if(data.status){
                        let parent = tr.parentNode;
                        parent.removeChild(tr);
                    }

                    getEl("#requestMsg").innerText = data.msg
                    getEl("#requestStatus").click();
                    currentStudent = null;
                }

                function getEl(el){
                    return document.querySelector(el)
                }

            window.onload = async() => {

                getEl("#acceptNameModify").addEventListener('click', ()=>{
                    nameModification("approveNameModificationRequest")
                })
               
                getEl("#rejectNameModify").addEventListener('click', ()=>{
                    nameModification("rejectNameModificationRequest")
                })

                getEl("#approveImage").addEventListener('click', (ev)=>{
                    imageUpdate("approveImageUpdate", ev)
                })

                getEl("#rejectImage").addEventListener('click', (ev)=>{
                    imageUpdate("rejectImageUpdate", ev)
                })

            }
</script>
}