<div class="tab-pane fade pt-3" id="image-update">
    <div class="row">

        <div class="col-12">
              <div class="card top-selling">

                <div class="card-body pb-0">
                  
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Current Picture</th>
                        <th scope="col">New Picture</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody id="imageUpdatesContent">
                            @if (Model.imageUpdates.Count > 0)
                            {
                                @foreach (var stud in Model.imageUpdates)
                                {
                                    <tr id="@stud.studentId" reqId="@stud.requestId">
                                        <th scope="row"><a href="#"><img src="image/approved/@stud.currentImg" alt=""></a></th>
                                        <th scope="row"><a href="#"><img src="image/updates/@stud.newImg" alt=""></a></th>
                                        <td>
                                            <button id="approveImage" class="btn btn-info">Accept</button>
                                            <button id="rejectImage" class="mx-3 btn btn-danger">Reject</button>
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="4">No Image Update Request Available</td>
                                </tr>
                            }
                    </tbody>
                  </table>

                </div>

              </div>
         </div>
    </div>
</div>