/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

.main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}