<div class="tab-pane fade pt-3" id="students">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Student Attendance List</h5>
            <div class="ls-table-container">

                @foreach (var x in Model.attendance)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" data-bs-target="#id-@x.Id" type="button" data-bs-toggle="collapse">
                                @x.WeekNo | @x.Students.Count <small class="mx-1">students</small>
                            </button>
                        </h2>
                        <div id="id-@x.Id" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body">
                                @foreach(var y in x.Students)
                                {
                                    <small>@y</small><br/>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>