<div class="tab-pane fade pt-3" id="students">
    <div class="card">
            <div class="card-body">
              <h5 class="card-title">Student Attendance List</h5>
              <div class="ls-table-container">
        <table class="table table-sm">
         @* <thead>
            <tr>
              <th>Static Column</th>
              <th>Column 1</th>
              <th>Column 2</th>
              <th>Column 3</th>
              <th>Column 3</th>
              <th>Column 3</th>
              <th>Column 3</th>
              <th>Column 3</th>
              <th>Column 3</th>
              <!-- Add more columns as needed -->
            </tr>
          </thead>*@
          <tbody>
            @if(Model.attendance.Count > 0)
            {
               @foreach(var x in Model.attendance)
               {
                  <tr>
                      <th>@x.WeekNo</th>
                      @foreach(var i in x.Students)
                      {
                        <td>@i</td>
                      }
                  </tr>   
               }
            }
            else
            {
                <tr>
                    <td>No Lecture Session Available</td>
                </tr>
            }
                        
           
          </tbody>
        </table>
      </div>
              
            </div>
          </div>
</div>