@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign In";
}

<div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Student ID</span>
                </a>
              </div>

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter Your Credentials To Login</p>
                  </div>

                  <form asp-controller="Auth" asp-action="SignIn" method="POST" class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                        <label class="form-label">User Role</label>
                        <select name="UserRole" id="UserRole" class="form-select" aria-label="Default select example">
                            <option value="" selected></option>
                            <option value="admin">Admin</option>
                            <option value="lecturer">Lecturer</option>
                            <option value="student">Student</option>
                        </select>
                    </div>
                    <div class="col-12" id="stdn">
                      <label for="StudentNumber" class="form-label">Student Number</label>
                      <input type="text" name="StudentNumber" class="form-control" id="StudentNumber" required>
                      <div class="invalid-feedback">Please enter your Student Number!</div>
                    </div>

                    <div class="col-12" id="lecn">
                      <label for="LecturerNumber" class="form-label">Lecturer Number</label>
                      <input type="text" name="LecturerNumber" class="form-control" id="LecturerNumber" required>
                      <div class="invalid-feedback">Please enter your lecturer Number!</div>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <input type="text" name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">Please enter your email!</div>
                    </div>

                    <div class="col-12">
                      <label for="Password" class="form-label">Password</label>
                      <input type="password" name="Password" class="form-control" id="Password" required>
                      <div class="invalid-feedback">Please enter your Password!</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>

    @section Scripts{
        <script>

            const adjustScreen = e=>{
                const role = e.target.value;
                if(role == 'lecturer'){
                    getEl('#lecn').style.display = 'block';
                    getEl('#stdn').style.display = 'none';
                }else if(role == 'student'){
                    getEl('#stdn').style.display = 'block';
                    getEl('#lecn').style.display = 'none';
                }else{
                    getEl('#lecn').style.display = 'none';
                    getEl('#stdn').style.display = 'none';
                }
            }
            
            const getEl = (arg)=>{
                return document.querySelector(arg)
            }
                
            window.onload = ()=>{
                getEl('#lecn').style.display = 'none';
                getEl('#stdn').style.display = 'none';
                getEl("#UserRole").addEventListener('change', e=>adjustScreen(e));
            }
        </script>
    }